## Оптимизация выполнения кода, векторизация, Numba

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Материалы:
* Макрушин С.В. Лекция 3: Оптимизация выполнения кода, векторизация, Numba
* IPython Cookbook, Second Edition (2018), глава 4
* https://numba.pydata.org/numba-doc/latest/user/5minguide.html

## Задачи для совместного разбора

1. Сгенерируйте массив `A` из `N=1млн` случайных целых чисел на отрезке от 0 до 1000. Пусть `B[i] = A[i] + 100`. Посчитайте среднее значение массива `B`.

In [2]:
import numpy as np 
A = np.random.randint(0, 1001, (1, 1_000_000), 'int64')
B = np.array([el+100 for el in A])
print(f'A: {A.mean()}, B: {B.mean()}')

A: 500.336696, B: 600.336696

2. Создайте таблицу 2млн строк и с 4 столбцами, заполненными случайными числами. Добавьте столбец `key`, которые содержит элементы из множества английских букв. Выберите из таблицы подмножество строк, для которых в столбце `key` указаны первые 5 английских букв.

In [13]:
import pandas as pd
from itertools import permutations
a = pd.DataFrame(index=range(2_000_000))
a['A'] = np.random.randint(0, 1000, (2_000_000, ))
a['B'] = np.random.randint(0, 1000, (2_000_000, ))
a['C'] = np.random.randint(0, 1000, (2_000_000, ))
a['D'] = np.random.randint(0, 1000, (2_000_000, ))
a['key'] = list(permutations(list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'), 5))[:2_000_000]
for el in a.iterrows():
    if 'A' in el[1]['key'] and \
    'B' in el[1]['key'] and \
    'C' in el[1]['key'] and \
    'D' in el[1]['key'] and \
    'E' in el[1]['key']:
        print(el)

(0, A                  468
B                   28
C                  464
D                  162
key    (A, B, C, D, E)
Name: 0, dtype: object)
(22, A                  357
B                  177
C                  688
D                  568
key    (A, B, C, E, D)
Name: 22, dtype: object)
(506, A                  662
B                  676
C                  145
D                  456
key    (A, B, D, C, E)
Name: 506, dtype: object)
(528, A                  353
B                  462
C                  768
D                  508
key    (A, B, D, E, C)
Name: 528, dtype: object)
(1012, A                  679
B                  803
C                  605
D                  481
key    (A, B, E, C, D)
Name: 1012, dtype: object)
(1034, A                  896
B                  256
C                  989
D                   21
key    (A, B, E, D, C)
Name: 1034, dtype: object)
(12144, A                  237
B                  887
C                  936
D                   14
key    (A, C, B, D, E)
Name: 12144, dtype: object)
(12166, A                  949
B                  298
C                  438
D                  145
key    (A, C, B, E, D)
Name: 12166, dtype: object)
(12650, A                  974
B                  518
C                  344
D                  731
key    (A, C, D, B, E)
Name: 12650, dtype: object)
(12672, A                  559
B                   85
C                  902
D                  756
key    (A, C, D, E, B)
Name: 12672, dtype: object)
(13156, A                  342
B                  208
C                  490
D                  968
key    (A, C, E, B, D)
Name: 13156, dtype: object)
(13178, A                  428
B                  510
C                  416
D                  205
key    (A, C, E, D, B)
Name: 13178, dtype: object)
(24288, A                  445
B                  323
C                  183
D                  343
key    (A, D, B, C, E)
Name: 24288, dtype: object)
(24310, A                  782
B                  714
C                  833
D                  503
key    (A, D, B, E, C)
Name: 24310, dtype: object)
(24794, A                  972
B                  699
C                  921
D                  877
key    (A, D, C, B, E)
Name: 24794, dtype: object)
(24816, A                  700
B                  638
C                  979
D                  310
key    (A, D, C, E, B)
Name: 24816, dtype: object)
(25300, A                  761
B                  440
C                  517
D                  717
key    (A, D, E, B, C)
Name: 25300, dtype: object)
(25322, A                  668
B                  554
C                  108
D                   49
key    (A, D, E, C, B)
Name: 25322, dtype: object)
(36432, A                  710
B                  345
C                  231
D                  473
key    (A, E, B, C, D)
Name: 36432, dtype: object)
(36454, A                  345
B                  787
C                  841
D                  977
key    (A, E, B, D, C)
Name: 36454, dtype: object)
(36938, A                  379
B                  955
C                  691
D                   97
key    (A, E, C, B, D)
Name: 36938, dtype: object)
(36960, A                  263
B                  327
C                  711
D                  912
key    (A, E, C, D, B)
Name: 36960, dtype: object)
(37444, A                  701
B                  763
C                  817
D                  179
key    (A, E, D, B, C)
Name: 37444, dtype: object)
(37466, A                  549
B                  453
C                  686
D                  300
key    (A, E, D, C, B)
Name: 37466, dtype: object)
(303600, A                  884
B                  886
C                  585
D                  450
key    (B, A, C, D, E)
Name: 303600, dtype: object)
(303622, A                  350
B                  200
C                  444
D                  550
key    (B, A, C, E, D)
Name: 303622, dtype: object)
(304106, A                  352
B                  952
C                   25
D                  553
key    (B, A, D, C, E)
Name: 304106, dtype: object)
(304128, A                  621
B                  420
C                  526
D                  795
key    (B, A, D, E, C)
Name: 304128, dtype: object)
(304612, A                  435
B                  855
C                  937
D                  691
key    (B, A, E, C, D)
Name: 304612, dtype: object)
(304634, A                  350
B                  860
C                  435
D                  186
key    (B, A, E, D, C)
Name: 304634, dtype: object)
(315744, A                  576
B                  327
C                  368
D                  366
key    (B, C, A, D, E)
Name: 315744, dtype: object)
(315766, A                  768
B                  814
C                  436
D                  755
key    (B, C, A, E, D)
Name: 315766, dtype: object)
(316250, A                  494
B                  195
C                  814
D                  911
key    (B, C, D, A, E)
Name: 316250, dtype: object)
(316272, A                  428
B                  763
C                  475
D                  132
key    (B, C, D, E, A)
Name: 316272, dtype: object)
(316756, A                   27
B                  549
C                  859
D                  749
key    (B, C, E, A, D)
Name: 316756, dtype: object)
(316778, A                  789
B                  688
C                  674
D                  366
key    (B, C, E, D, A)
Name: 316778, dtype: object)
(327888, A                  705
B                  790
C                  106
D                  672
key    (B, D, A, C, E)
Name: 327888, dtype: object)
(327910, A                  544
B                  425
C                  304
D                  656
key    (B, D, A, E, C)
Name: 327910, dtype: object)
(328394, A                  965
B                  826
C                  427
D                  292
key    (B, D, C, A, E)
Name: 328394, dtype: object)
(328416, A                  485
B                  481
C                  676
D                  585
key    (B, D, C, E, A)
Name: 328416, dtype: object)
(328900, A                  143
B                  990
C                  840
D                  109
key    (B, D, E, A, C)
Name: 328900, dtype: object)
(328922, A                  999
B                  868
C                  657
D                  103
key    (B, D, E, C, A)
Name: 328922, dtype: object)
(340032, A                  323
B                   63
C                  322
D                  891
key    (B, E, A, C, D)
Name: 340032, dtype: object)
(340054, A                  776
B                  832
C                  305
D                  153
key    (B, E, A, D, C)
Name: 340054, dtype: object)
(340538, A                   58
B                  707
C                  246
D                  336
key    (B, E, C, A, D)
Name: 340538, dtype: object)
(340560, A                  154
B                   65
C                  123
D                  769
key    (B, E, C, D, A)
Name: 340560, dtype: object)
(341044, A                  939
B                  657
C                  883
D                  998
key    (B, E, D, A, C)
Name: 341044, dtype: object)
(341066, A                  852
B                   17
C                  140
D                  641
key    (B, E, D, C, A)
Name: 341066, dtype: object)
(607200, A                  496
B                  144
C                  578
D                    7
key    (C, A, B, D, E)
Name: 607200, dtype: object)
(607222, A                  462
B                  514
C                  558
D                  314
key    (C, A, B, E, D)
Name: 607222, dtype: object)
(607706, A                  832
B                  248
C                   12
D                  122
key    (C, A, D, B, E)
Name: 607706, dtype: object)
(607728, A                  242
B                  222
C                  471
D                  922
key    (C, A, D, E, B)
Name: 607728, dtype: object)
(608212, A                  224
B                  349
C                  977
D                  181
key    (C, A, E, B, D)
Name: 608212, dtype: object)
(608234, A                  533
B                  127
C                  920
D                  179
key    (C, A, E, D, B)
Name: 608234, dtype: object)
(619344, A                  613
B                  327
C                  207
D                  731
key    (C, B, A, D, E)
Name: 619344, dtype: object)
(619366, A                  937
B                  933
C                  538
D                   26
key    (C, B, A, E, D)
Name: 619366, dtype: object)
(619850, A                  270
B                  224
C                  867
D                  479
key    (C, B, D, A, E)
Name: 619850, dtype: object)
(619872, A                  946
B                  577
C                  739
D                  511
key    (C, B, D, E, A)
Name: 619872, dtype: object)
(620356, A                  132
B                  674
C                   71
D                  720
key    (C, B, E, A, D)
Name: 620356, dtype: object)
(620378, A                  439
B                   42
C                  453
D                  125
key    (C, B, E, D, A)
Name: 620378, dtype: object)
(631488, A                    0
B                  744
C                  279
D                  206
key    (C, D, A, B, E)
Name: 631488, dtype: object)
(631510, A                  168
B                  335
C                  948
D                  487
key    (C, D, A, E, B)
Name: 631510, dtype: object)
(631994, A                  854
B                  111
C                  942
D                  487
key    (C, D, B, A, E)
Name: 631994, dtype: object)
(632016, A                  427
B                  160
C                  988
D                  507
key    (C, D, B, E, A)
Name: 632016, dtype: object)
(632500, A                  415
B                  847
C                  315
D                  117
key    (C, D, E, A, B)
Name: 632500, dtype: object)
(632522, A                  643
B                  484
C                  156
D                   70
key    (C, D, E, B, A)
Name: 632522, dtype: object)
(643632, A                  788
B                  793
C                  353
D                  817
key    (C, E, A, B, D)
Name: 643632, dtype: object)
(643654, A                  106
B                  729
C                  744
D                  851
key    (C, E, A, D, B)
Name: 643654, dtype: object)
(644138, A                   63
B                  403
C                  729
D                  681
key    (C, E, B, A, D)
Name: 644138, dtype: object)
(644160, A                  876
B                  574
C                  192
D                  861
key    (C, E, B, D, A)
Name: 644160, dtype: object)
(644644, A                   17
B                  434
C                  186
D                  266
key    (C, E, D, A, B)
Name: 644644, dtype: object)
(644666, A                  178
B                  212
C                  768
D                   56
key    (C, E, D, B, A)
Name: 644666, dtype: object)
(910800, A                  419
B                  508
C                  312
D                  543
key    (D, A, B, C, E)
Name: 910800, dtype: object)
(910822, A                  112
B                  814
C                  223
D                  502
key    (D, A, B, E, C)
Name: 910822, dtype: object)
(911306, A                  525
B                  962
C                  413
D                  633
key    (D, A, C, B, E)
Name: 911306, dtype: object)
(911328, A                  838
B                  483
C                  175
D                  769
key    (D, A, C, E, B)
Name: 911328, dtype: object)
(911812, A                   93
B                  559
C                  436
D                  319
key    (D, A, E, B, C)
Name: 911812, dtype: object)
(911834, A                  379
B                  945
C                  800
D                  305
key    (D, A, E, C, B)
Name: 911834, dtype: object)
(922944, A                  907
B                  221
C                  991
D                  731
key    (D, B, A, C, E)
Name: 922944, dtype: object)
(922966, A                  775
B                  729
C                  775
D                  970
key    (D, B, A, E, C)
Name: 922966, dtype: object)
(923450, A                  714
B                  168
C                  684
D                  921
key    (D, B, C, A, E)
Name: 923450, dtype: object)
(923472, A                  314
B                  302
C                  411
D                  118
key    (D, B, C, E, A)
Name: 923472, dtype: object)
(923956, A                  827
B                  222
C                  705
D                  908
key    (D, B, E, A, C)
Name: 923956, dtype: object)
(923978, A                  428
B                  539
C                  514
D                  138
key    (D, B, E, C, A)
Name: 923978, dtype: object)
(935088, A                  328
B                  232
C                  149
D                  409
key    (D, C, A, B, E)
Name: 935088, dtype: object)
(935110, A                  376
B                  633
C                  977
D                  967
key    (D, C, A, E, B)
Name: 935110, dtype: object)
(935594, A                  419
B                  220
C                  757
D                   54
key    (D, C, B, A, E)
Name: 935594, dtype: object)
(935616, A                  605
B                  772
C                  481
D                  924
key    (D, C, B, E, A)
Name: 935616, dtype: object)
(936100, A                   20
B                   82
C                  216
D                  726
key    (D, C, E, A, B)
Name: 936100, dtype: object)
(936122, A                  173
B                  387
C                  720
D                  472
key    (D, C, E, B, A)
Name: 936122, dtype: object)
(947232, A                  412
B                  958
C                  327
D                   10
key    (D, E, A, B, C)
Name: 947232, dtype: object)
(947254, A                  444
B                  851
C                   11
D                  893
key    (D, E, A, C, B)
Name: 947254, dtype: object)
(947738, A                  729
B                  869
C                  739
D                   13
key    (D, E, B, A, C)
Name: 947738, dtype: object)
(947760, A                  203
B                  960
C                  718
D                  937
key    (D, E, B, C, A)
Name: 947760, dtype: object)
(948244, A                   42
B                  508
C                  350
D                  791
key    (D, E, C, A, B)
Name: 948244, dtype: object)
(948266, A                  266
B                  104
C                  710
D                  261
key    (D, E, C, B, A)
Name: 948266, dtype: object)
(1214400, A                  897
B                  238
C                  432
D                  881
key    (E, A, B, C, D)
Name: 1214400, dtype: object)
(1214422, A                  313
B                  496
C                  259
D                  897
key    (E, A, B, D, C)
Name: 1214422, dtype: object)
(1214906, A                  486
B                  431
C                  973
D                  300
key    (E, A, C, B, D)
Name: 1214906, dtype: object)
(1214928, A                  259
B                  607
C                  417
D                  604
key    (E, A, C, D, B)
Name: 1214928, dtype: object)
(1215412, A                   66
B                  670
C                  465
D                  116
key    (E, A, D, B, C)
Name: 1215412, dtype: object)
(1215434, A                    2
B                  587
C                  220
D                  226
key    (E, A, D, C, B)
Name: 1215434, dtype: object)
(1226544, A                  939
B                  299
C                  124
D                  835
key    (E, B, A, C, D)
Name: 1226544, dtype: object)
(1226566, A                  229
B                  693
C                  442
D                  604
key    (E, B, A, D, C)
Name: 1226566, dtype: object)
(1227050, A                  190
B                  383
C                  652
D                  951
key    (E, B, C, A, D)
Name: 1227050, dtype: object)
(1227072, A                  395
B                   97
C                  520
D                  827
key    (E, B, C, D, A)
Name: 1227072, dtype: object)
(1227556, A                  596
B                  977
C                  611
D                  999
key    (E, B, D, A, C)
Name: 1227556, dtype: object)
(1227578, A                   78
B                  497
C                  170
D                  250
key    (E, B, D, C, A)
Name: 1227578, dtype: object)
(1238688, A                  341
B                  488
C                  455
D                  229
key    (E, C, A, B, D)
Name: 1238688, dtype: object)
(1238710, A                  136
B                  180
C                  320
D                  745
key    (E, C, A, D, B)
Name: 1238710, dtype: object)
(1239194, A                  707
B                  658
C                  865
D                   31
key    (E, C, B, A, D)
Name: 1239194, dtype: object)
(1239216, A                  394
B                  329
C                  294
D                  399
key    (E, C, B, D, A)
Name: 1239216, dtype: object)
(1239700, A                  253
B                  563
C                  466
D                  173
key    (E, C, D, A, B)
Name: 1239700, dtype: object)
(1239722, A                   98
B                  440
C                  316
D                  644
key    (E, C, D, B, A)
Name: 1239722, dtype: object)
(1250832, A                  240
B                  603
C                  541
D                  300
key    (E, D, A, B, C)
Name: 1250832, dtype: object)
(1250854, A                  233
B                  654
C                   58
D                  858
key    (E, D, A, C, B)
Name: 1250854, dtype: object)
(1251338, A                  814
B                   80
C                  862
D                  317
key    (E, D, B, A, C)
Name: 1251338, dtype: object)
(1251360, A                  818
B                  487
C                  484
D                  417
key    (E, D, B, C, A)
Name: 1251360, dtype: object)
(1251844, A                  723
B                  933
C                  615
D                  864
key    (E, D, C, A, B)
Name: 1251844, dtype: object)
(1251866, A                  555
B                  103
C                  849
D                  480
key    (E, D, C, B, A)
Name: 1251866, dtype: object)

## Лабораторная работа 3

In [35]:
!pip install line_profiler
from line_profiler import LineProfiler

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: line_profiler in /usr/local/lib/python3.10/dist-packages (4.0.3)

1. В файлах `recipes_sample.csv` и `reviews_sample.csv` (__ЛР 2__) находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами. Приведите столбцы к нужным типам.

Реализуйте несколько вариантов функции подсчета среднего значения столбца `rating` из таблицы `reviews` для отзывов, оставленных в 2010 году.

A. С использованием метода `DataFrame.iterrows` исходной таблицы;

Б. С использованием метода `DataFrame.iterrows` таблицы, в которой сохранены только отзывы за 2010 год;

В. С использованием метода `Series.mean`.

Проверьте, что результаты работы всех написанных функций корректны и совпадают. Измерьте выполнения всех написанных функций.

In [19]:
recipes = pd.read_csv('/content/drive/MyDrive/tod lr2/recipes_sample.csv')
reviews = pd.read_csv('/content/drive/MyDrive/tod lr2/reviews_sample.csv')
reviews['date'] = pd.to_datetime(reviews['date'])

In [37]:
%%time
def func():
    df = pd.DataFrame(data=reviews[(reviews['date'] >= '2010-01-01') & (reviews['date'] <= '2010-12-31')])
    mean = 0
    leng = 0
    for _, row in df.iterrows():
        mean += row['rating']
        leng += 1
    print(f'A) {mean/leng}')
func()

A) 4.4544402182900615
CPU times: user 856 ms, sys: 61.9 ms, total: 918 ms
Wall time: 927 ms

In [ ]:
%%time
df = pd.DataFrame(data=reviews[(reviews['date'] >= '2010-01-01') & (reviews['date'] <= '2010-12-31')])
mean = 0
leng = 0
for _, row in df.iterrows():
    mean += row['rating']
    leng += 1
print(f'Б) {mean/leng}')

Б) 4.4544402182900615
CPU times: user 545 ms, sys: 2.01 ms, total: 547 ms
Wall time: 554 ms

In [ ]:
%%time
print(f"{df['rating'].mean()}")

4.4544402182900615
CPU times: user 676 µs, sys: 0 ns, total: 676 µs
Wall time: 690 µs

2. Какая из созданных функций выполняется медленнее? Что наиболее сильно влияет на скорость выполнения? Для ответа использовать профайлер `line_profiler`. Сохраните результаты работы профайлера в отдельную текстовую ячейку и прокомментируйте результаты его работы.

(*). Сможете ли вы ускорить работу функции 1Б, отказавшись от использования метода `iterrows`, но не используя метод `mean`?

A) 4.4544402182900615
Timer unit: 1e-09 s

Total time: 2.2507 s

Could not find file <timed exec>
Are you sure you are running this program from the same directory
that you ran the profiler from?
Continuing without the function's contents.

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           
     2         1   13367598.0 13367598.0      0.6  
     3         1        357.0    357.0      0.0  
     4         1        245.0    245.0      0.0  
     5     12094 1941211419.0 160510.3     86.2  
     6     12094  284648268.0  23536.3     12.6  
     7     12094   11305679.0    934.8      0.5  
     8         1     167343.0 167343.0      0.0

In [ ]:
lp = LineProfiler()
lp_wrapper = lp(func)
lp_wrapper()
lp.print_stats()

In [ ]:
%%time
df = pd.DataFrame(data=reviews[(reviews['date'] >= '2010-01-01') & (reviews['date'] <= '2010-12-31')])
mean = 0
leng = 0
for el in df['rating']:
    mean += el
    leng += 1
print(f'{mean/leng}')

4.4544402182900615
CPU times: user 16.9 ms, sys: 0 ns, total: 16.9 ms
Wall time: 18.6 ms

3. Вам предлагается воспользоваться функцией, которая собирает статистику о том, сколько отзывов содержат то или иное слово. Измерьте время выполнения этой функции. Сможете ли вы найти узкие места в коде, используя профайлер? Выпишите (словами), что в имеющемся коде реализовано неоптимально. Оптимизируйте функцию и добейтесь значительного (как минимум, на один порядок) прироста в скорости выполнения.

Total time: 47.7266 s
Слабые места: лишние присвоения переменных, 2 перебора, использование списков

In [91]:
def get_word_reviews_count(df):
    word_reviews = {}
    for row in df['review']:
        for word in str(row).split():
            if word not in word_reviews:
                word_reviews[word] = 1
            else:
                word_reviews[word] += 1
    return word_reviews
get_word_reviews_count(reviews)

{'Last': 100,
 'week': 804,
 'whole': 5630,
 'sides': 313,
 'of': 109040,
 'frozen': 2648,
 'salmon': 729,
 'fillet': 60,
 'was': 88793,
 'on': 34590,
 'sale': 149,
 'in': 61551,
 'my': 44166,
 'local': 561,
 'supermarket,': 10,
 'so': 46106,
 'I': 288141,
 'bought': 1369,
 'tons': 161,
 '(okay,': 5,
 'only': 13967,
 '3,': 48,
 'but': 42528,
 'total': 381,
 'weight': 160,
 'over': 9066,
 '10': 2305,
 'pounds).': 3,
 'This': 39937,
 'recipe': 41128,
 'is': 55083,
 'perfect': 4400,
 'for': 121248,
 'fillet,': 14,
 'even': 7881,
 'though': 2315,
 'it': 111224,
 'calls': 520,
 'steaks.': 96,
 'cut': 6689,
 'up': 13585,
 'the': 266099,
 'into': 7035,
 'individual': 314,
 'portions': 156,
 'and': 217925,
 'followed': 4861,
 'instructions': 731,
 'exactly.': 578,
 "I'm": 7227,
 'one': 15090,
 'those': 2287,
 'food': 2416,
 'combining': 74,
 'diets,': 5,
 'left': 4691,
 'out': 23647,
 'white': 3426,
 'wine': 1258,
 'added': 21723,
 'just': 24955,
 'a': 166160,
 'dash': 532,
 'vinegar': 1273,
 'instead': 10397,
 '(just': 275,
 'little': 16323,
 'bit,': 316,
 'not': 22914,
 'enough': 4443,
 'to': 131496,
 'change': 4147,
 'taste': 8037,
 'dish).': 20,
 'Super': 847,
 'yummy,': 367,
 'leftovers': 1498,
 'lunch': 1594,
 'today': 1035,
 '(lucky': 3,
 'me)!': 5,
 'So': 4382,
 'simple': 3952,
 'tasty!': 1016,
 'used': 44870,
 'yellow': 782,
 'capsicum': 45,
 'place': 2012,
 'green': 4472,
 'because': 11394,
 "that's": 1564,
 'what': 7467,
 'had': 26366,
 'hand.': 1450,
 'came': 5263,
 'together': 3268,
 'fast.': 181,
 'Perfect': 764,
 'meal': 1893,
 'if': 7333,
 'you': 24491,
 "don't": 6185,
 'have': 35191,
 'lot': 3187,
 'time.': 4086,
 'Easy,': 294,
 'healthy': 1282,
 'tasty.': 2019,
 'Thanks': 27943,
 'Stardustannie!': 4,
 'Made': 13273,
 'PAC': 1488,
 'Fall': 737,
 '2007.': 89,
 'Very': 8812,
 'nice': 8169,
 'breakfast': 1399,
 'HH,': 1,
 'easy': 17234,
 'make': 32132,
 'yummy': 2113,
 'with': 58387,
 'fresh': 7673,
 'hot': 3582,
 'coffe.': 2,
 'Instead': 876,
 'toast': 449,
 'served': 6450,
 '#97694': 1,
 'by': 6596,
 'Paula': 124,
 'G': 13,
 'that': 36991,
 'made': 38102,
 'earlier': 167,
 'turned': 6372,
 'great.': 3751,
 'will': 23997,
 'be': 25033,
 'regular': 2988,
 'our': 6879,
 'house': 1247,
 '-': 12026,
 'DH': 3818,
 'loved': 13758,
 'them.': 3711,
 'These': 8459,
 'are': 15522,
 'favorite': 2588,
 'holidays': 123,
 'children': 356,
 'We': 12823,
 'also': 14471,
 'use': 16908,
 'Rolo': 6,
 'candies': 59,
 'kisses.': 15,
 'Excellent': 1564,
 'soup!': 458,
 'The': 26264,
 'tomato': 2136,
 'flavor': 7691,
 'this': 87098,
 'freezer': 875,
 'tag': 808,
 'soup': 4442,
 'froze': 645,
 'beautifully.': 316,
 'prepared': 935,
 'as': 35504,
 'directed': 720,
 'then': 8443,
 'allowed': 225,
 'cool': 953,
 'container.': 47,
 'thawed': 211,
 'fridge': 922,
 'reheated': 223,
 'stovetop.': 38,
 'Worked': 252,
 'perfectly!': 161,
 'forgot': 1290,
 'add': 12993,
 'skim': 409,
 'milk': 3766,
 'still': 6694,
 'tasted': 4122,
 'pretty': 3499,
 'good!': 3934,
 'Dancer!': 17,
 'dinner': 3885,
 'excellent,': 187,
 'finally': 513,
 'found': 5068,
 'tuna': 488,
 'casserole': 799,
 'we': 12853,
 'enjoy,': 11,
 'thanks.': 130,
 'When': 1663,
 'snapped': 9,
 'picture,': 61,
 'review': 1143,
 'recipe.': 14557,
 'toasted': 775,
 'pecans': 624,
 'dish,': 803,
 'at': 15363,
 'party': 1244,
 'Prime': 23,
 'Rib.': 4,
 'Ten': 17,
 'stars': 2079,
 'Lennie': 31,
 '!!': 352,
 'good': 16119,
 'combination': 1801,
 'flavors': 2214,
 'reduce': 910,
 'rice': 3667,
 'cilantro': 732,
 'next': 10083,
 'time,': 2236,
 'thanks': 3267,
 'sharing': 6200,
 'hon!...Kitten': 9,
 'Oh': 1360,
 'Bergy!': 64,
 'wonderful': 5686,
 'cakes': 433,
 'awesome.': 557,
 'Fast': 84,
 'put': 8579,
 'together.': 1467,
 'get': 6754,
 'fish': 1130,
 'where': 971,
 'live': 435,
 '(yuck).': 5,
 'am': 6193,
 'tired': 147,
 'trying': 1847,
 'new': 2765,
 'recipes': 2819,
 'help': 762,
 'lack': 174,
 'quality.': 62,
 'But': 2644,
 'recipe,': 5134,
 'problem.': 198,
 'did': 17362,
 '3': 4487,
 'cloves': 900,
 'garlic,': 1030,
 'seasoned': 776,
 'bread': 5904,
 'crumbs': 801,
 'Smash': 3,
 'Seasoning(318441).': 1,
 'It': 19705,
 'has': 4861,
 'no': 5865,
 'salt!': 29,
 'tartar': 77,
 'sauce': 11432,
 'go': 3694,
 '(56860).': 1,
 'Thank': 10267,
 'great': 19179,
 'recipe!': 8613,
 'very': 25695,
 'moist': 2458,
 'cornbread,': 47,
 'two': 4466,
 'days': 723,
 'later.': 245,
 'less': 3181,
 'sugar': 6626,
 'honey,': 203,
 'farm': 56,
 'butter...and': 3,
 'corn,': 222,
 'about': 12814,
 '2': 8277,
 'ears.': 5,
 'Served': 2024,
 'ribs': 1203,
 'grill,': 124,
 "I've": 5612,
 'been': 5787,
 'making': 11032,
 'past': 418,
 'several': 1715,
 'years.': 466,
 "It's": 2897,
 'always': 4171,
 'extremely': 599,
 'easy!': 939,
 'posting!': 2507,
 'generic': 30,
 'sweetened': 239,
 'condensed': 231,
 'works': 748,
 'well,': 783,
 'tastes': 2272,
 'costs': 17,
 '(I': 2379,
 'usually': 1911,
 'Wal-Mart': 3,
 'brand).': 9,
 'Exceptional': 7,
 'delicious': 5732,
 'make.': 3070,
 'really': 19407,
 'liked': 5539,
 'weekday': 69,
 'leftover': 1716,
 'rice.': 1119,
 'looking': 3050,
 'different': 3538,
 'ways': 353,
 'ground': 2468,
 'beef.': 355,
 'love': 9530,
 'sandwich!!': 12,
 'alot': 435,
 'sooo': 594,
 'Lite': 22,
 'brown': 3477,
 'mustard': 1084,
 'horse': 4,
 'relish': 160,
 'some': 20757,
 'olives': 583,
 "on's.": 1,
 'Next': 3562,
 'time': 17505,
 'balsamic': 483,
 'dressing...it': 2,
 'mind.': 77,
 ':)': 5385,
 'cbreezie': 1,
 'make,': 1288,
 'affordable': 26,
 'addicting.': 30,
 'Our': 372,
 'household': 66,
 'it.': 12186,
 'Blessings': 7,
 'chef': 295,
 'sharing.': 2200,
 'never': 4979,
 'apple': 1442,
 'orange': 1633,
 'juice': 2768,
 'makes': 3301,
 'all': 15505,
 'difference': 674,
 'texture': 2318,
 'bread.': 1218,
 'wonderful!!': 110,
 'You': 2333,
 'were': 20719,
 'delicious!': 3387,
 'grated': 944,
 'bit': 9947,
 'cheddar': 1382,
 'cheese': 8220,
 'top': 4345,
 '5': 4296,
 'minutes': 5016,
 'before': 6922,
 'they': 16874,
 'done,': 239,
 'seasoning': 2026,
 'perfect.': 2056,
 'best': 4552,
 'pizza': 956,
 'dough': 2740,
 'made!': 192,
 'Other': 594,
 'tried': 4438,
 'machine': 480,
 'way': 6710,
 'too': 10538,
 'sticky.': 83,
 'Leaving': 11,
 'msg': 19,
 'fine.': 971,
 'divide': 60,
 'half,': 411,
 'knead': 90,
 'floured': 83,
 'surface': 69,
 'few': 4898,
 'times,': 290,
 'stretch': 74,
 'cirle.': 1,
 'like': 20175,
 'bake': 1806,
 'cast-iron': 19,
 'skillet-': 1,
 'brush': 161,
 'pan': 3627,
 'olive': 2059,
 'oil': 3796,
 'sprinkle': 635,
 'corn': 2176,
 'meal.': 1639,
 'crust': 1662,
 '7': 705,
 '10-15': 75,
 'lowest': 28,
 'rack': 265,
 'oven.': 1073,
 'saw': 746,
 'Giada': 8,
 'Today': 109,
 'show': 174,
 'last': 4502,
 'month': 271,
 'wanted': 2689,
 'compare': 104,
 'family': 7202,
 'being': 1855,
 'Marsala': 25,
 'dry': 2151,
 'red,': 78,
 'chicken/turkey': 3,
 'sausage,': 225,
 'cutting': 557,
 'sausages': 113,
 'finishing': 127,
 'cooking': 4205,
 'stove': 565,
 'My': 14586,
 'traditionally': 25,
 'serves': 152,
 'sausage': 1117,
 'peppers': 1411,
 'polenta...this': 1,
 'compared': 122,
 'well': 5171,
 'probably': 2651,
 'calories': 377,
 'heats': 11,
 'kitchen': 520,
 'summertime!': 2,
 'meatloaf,': 47,
 'took': 3831,
 'reviewers': 587,
 'suggestion': 525,
 'another': 4781,
 'crock': 1034,
 'pot': 1978,
 'meatloaf': 395,
 '(#99616)': 1,
 'it,': 3814,
 'sauce,': 1640,
 'meatloaf.': 109,
 'sweet': 4940,
 'tangy': 290,
 'wonder': 263,
 'addition.': 281,
 'again.': 7485,
 'deliciously': 87,
 'simple.': 295,
 'can': 9516,
 'literally': 148,
 'thrown': 103,
 'soups': 203,
 'i': 7828,
 'ever': 3857,
 'had.': 897,
 'uncomplicated': 6,
 'taste.': 2088,
 ',': 715,
 'from': 12806,
 'appealed': 20,
 'me': 7276,
 'simplicity': 162,
 'quick': 4069,
 'could': 6288,
 'made.': 711,
 'both': 2698,
 'flavor.': 3964,
 'anything': 1423,
 'see': 2246,
 'can;': 1,
 'more': 16845,
 'substance': 14,
 'nothing': 719,
 '(thankfully)': 3,
 'rustic': 43,
 'roasted': 1256,
 'balance': 423,
 'other': 7019,
 'ingredients.': 1100,
 'paul': 2,
 'newman': 1,
 'marinara': 109,
 '1/3': 780,
 'cup': 7165,
 'let': 2910,
 'simmer': 398,
 'out.': 1250,
 'would': 16602,
 'definitly': 60,
 'much': 12368,
 'plus': 779,
 'tea!': 46,
 'aroma': 300,
 'tea': 535,
 'steeping': 10,
 'five': 664,
 'minutes,': 843,
 'wonderful!': 1125,
 'large': 2093,
 'glass': 571,
 'ice': 1502,
 'enjoyed!': 71,
 'Good': 1356,
 'marinade.': 220,
 'Jack': 169,
 'Daniels': 23,
 'exactly': 3584,
 'except': 2035,
 "didn't": 14049,
 'marinate': 353,
 'quite': 3821,
 'long.': 228,
 'hours.': 885,
 'grilled': 1248,
 'counter': 138,
 'grill': 812,
 'everyone': 2532,
 'enjoyed': 6746,
 'Even': 1386,
 'DH,': 123,
 'who': 3069,
 "doesn't": 1810,
 'beef': 2514,
 'dressed': 64,
 'up,': 513,
 'said': 3122,
 'Almost': 108,
 'teriyaki': 96,
 'baked': 4138,
 'potato': 1755,
 'asparagus.': 144,
 'posting.': 2316,
 'Fantastic': 367,
 'earning': 2,
 'raves': 111,
 'table.': 207,
 'Thanks,': 1423,
 'homegirl!': 5,
 'comforting.': 50,
 'low-sodium,': 1,
 'low-fat': 296,
 'chicken': 11333,
 'stock.': 172,
 'butter.': 965,
 'dried': 2248,
 'parsley.': 205,
 'do': 6861,
 'than': 10334,
 'an': 10558,
 'hour,': 174,
 'Me': 68,
 'course.': 94,
 'Breezermom': 3,
 'Market': 162,
 'game': 469,
 'Easy': 1947,
 'good.': 7092,
 'Will': 3521,
 'again': 7939,
 'kids': 3124,
 'weekend,': 54,
 'your': 6415,
 'cookies': 1936,
 'already': 1565,
 '(your': 4,
 'Triple': 17,
 'Chocolates).': 1,
 "We're": 119,
 'addicted': 63,
 'jam': 430,
 '--': 1640,
 "it's": 4846,
 'tend': 205,
 'vinegar-phobic': 1,
 'half;': 9,
 'adore': 101,
 'black': 1611,
 'pepper,': 929,
 'increase': 507,
 'half.': 578,
 'Also,': 1614,
 'once': 1547,
 'strawberries': 539,
 'cook': 4215,
 'down,': 140,
 'masher': 37,
 'break': 188,
 'them': 19698,
 'consistency.': 290,
 'pepper': 4411,
 'kick': 525,
 'fun,': 59,
 'English': 151,
 'muffins,': 161,
 'peanut': 1356,
 'butter': 5578,
 '&': 9666,
 'jelly': 299,
 'sandwiches': 473,
 '(made': 54,
 'wheat': 1778,
 'bread.)': 3,
 'wish': 832,
 'canning': 142,
 'store': 1249,
 'shelf': 48,
 'it!': 4414,
 'started': 876,
 'yesterday': 436,
 'keep': 2163,
 'up.': 1456,
 'back': 3474,
 'coffee': 976,
 'figured': 251,
 'might': 2835,
 'along': 1573,
 'benefits.': 13,
 'OK,': 122,
 'NEVER': 136,
 'buy': 1174,
 'jarred': 130,
 'terrific!': 131,
 'early': 259,
 'day,': 352,
 'later!': 33,
 'pizza,': 66,
 'freezer.': 286,
 'cant': 183,
 'wait.': 64,
 'hint': 419,
 'spice': 1363,
 'red': 4425,
 'omitted': 1607,
 'flakes': 754,
 'small': 3042,
 'delicious.': 3791,
 'again,': 2055,
 'tenderness': 27,
 'rub': 357,
 'right.': 554,
 'cold,': 101,
 'yogurt': 962,
 'whipped': 834,
 'in,': 275,
 'or': 12025,
 'top.': 1395,
 'cumin,': 184,
 'curry,': 57,
 'cinnamon': 2086,
 'try': 8940,
 'Chinese': 203,
 '5.': 162,
 "can't": 3023,
 'resist': 98,
 'splash': 304,
 'too!': 1362,
 '"bake"': 5,
 'squash': 549,
 'microwave': 831,
 '8': 1714,
 'minute': 545,
 'blasts': 1,
 'peel': 343,
 'when': 9494,
 'cool,': 89,
 'freeze': 792,
 'flesh.': 7,
 'Carrots': 32,
 'eaten': 749,
 'right': 3564,
 'highly': 529,
 'recommend': 1542,
 'these': 14421,
 'delicious,': 1066,
 'yet': 1088,
 'treats!': 27,
 'plastic': 293,
 'popsicle': 9,
 'molds': 10,
 'store.': 241,
 'halved': 1285,
 '16': 341,
 'popsicles.': 5,
 'They': 6003,
 'adults': 195,
 'gone': 759,
 'crazy': 379,
 'eating': 2033,
 'And': 2643,
 'since': 4614,
 "they're": 440,
 'them!': 836,
 'Barb': 35,
 'become': 734,
 'favorite!': 219,
 'good,': 3032,
 'modifications': 131,
 '(and': 1002,
 'laziness).': 1,
 'semi': 81,
 'breasts,': 185,
 'browned': 670,
 'them,': 1127,
 'stock': 855,
 'rest': 1884,
 'through': 1259,
 'simmer.': 28,
 'omit': 595,
 'avoid': 195,
 'sugary-ness': 1,
 'commented': 144,
 'PERFECT.': 36,
 'As': 1603,
 'couscous': 179,
 'anything,': 94,
 'cold': 1240,
 'broth': 1956,
 'soak': 317,
 'wait': 2103,
 'breasts': 981,
 'cook.': 332,
 'margarine': 313,
 'garlic-buttery': 1,
 'certainly': 920,
 'disappoint).': 1,
 '#289161.': 1,
 'Miraklegirl!': 4,
 'fantastic!': 787,
 'soft': 1275,
 'chewy': 397,
 'loveddd': 1,
 'friends.': 198,
 'chopped': 3132,
 'mars': 2,
 'bar': 219,
 'chocolate': 4610,
 'chips': 1692,
 'worked': 3075,
 'charm': 25,
 'definitely': 6270,
 'THANKS': 131,
 'Christmas': 1345,
 'party!': 72,
 'treat!': 353,
 'dressing': 2160,
 'lot.': 377,
 'sesame': 650,
 'seeds': 808,
 'lamb': 384,
 'marinaded': 65,
 'spices.': 384,
 'posting': 4355,
 'simply': 738,
 'WONDERFUL!': 103,
 'any': 6235,
 'salt,': 1022,
 'substitution': 119,
 "necessity..didn't": 1,
 'hash': 168,
 'browns,': 19,
 'potatoes.': 1015,
 'About': 76,
 'half': 7895,
 'peeked': 5,
 'browning': 302,
 'bottom': 1067,
 'potatoes': 3794,
 "weren't": 511,
 'cooking.': 737,
 'needed': 2634,
 'water.': 915,
 'DUH!': 1,
 'remember': 574,
 'how': 5264,
 'added,': 81,
 "I'll": 5462,
 'redo': 7,
 'browns': 104,
 'die': 409,
 'for....': 2,
 'truly!': 1,
 'good..': 26,
 'it..': 66,
 'give': 3294,
 '3.5': 93,
 'stars.': 702,
 'okay': 242,
 'again.<br/><br/>I': 2,
 'drumsticks': 59,
 'wings': 426,
 'grocery': 438,
 'low': 2408,
 'sodium': 453,
 'soy': 1154,
 'sauce.': 3065,
 'forget': 241,
 'marinade': 1074,
 'chicken.': 1207,
 'know': 3493,
 'affected': 64,
 'thicker.': 87,
 'barbecue': 199,
 'move': 69,
 'fluid.': 7,
 'thicken': 702,
 'starch': 190,
 'flour.': 781,
 'stated': 531,
 ':-)': 711,
 'breakfast!': 175,
 'mom': 793,
 'Northern': 39,
 'Ireland': 14,
 'introduced': 39,
 'Marmite': 9,
 'age': 38,
 'rye': 150,
 'marmite': 8,
 'dip': 1015,
 'eggs.': 411,
 'you!': 1511,
 "Paula's": 14,
 'Peach': 20,
 'Dump': 9,
 'Cake': 200,
 '#125391': 1,
 '(only': 110,
 '4)': 32,
 'forward': 785,
 'her': 1377,
 'call': 572,
 'future.': 290,
 'hand': 1526,
 'dessert': 1009,
 "'fix'": 2,
 'table': 454,
 'short': 442,
 'notice.': 16,
 'Wow!': 692,
 'What': 2635,
 'amazing': 896,
 'stuff!': 204,
 'Hokey': 4,
 'Pokey': 5,
 'ice-cream,': 6,
 'this.': 2919,
 'shocked': 59,
 'complete': 234,
 'colour': 106,
 'after': 5686,
 'stirring': 212,
 'baking': 3091,
 'soda': 304,
 'through.': 300,
 'quick.': 197,
 'burned': 183,
 'ours': 252,
 'difficult': 371,
 'spread': 1079,
 'flat': 296,
 'pan,': 649,
 'first': 6061,
 'go.': 188,
 "what's": 98,
 'come!': 38,
 'manual': 7,
 'method': 626,
 'directions': 1514,
 'follow': 832,
 'produced': 149,
 'results.': 585,
 'light': 2557,
 "za'atar": 11,
 'topping.': 470,
 'keeper!': 1357,
 'Best': 641,
 '2011': 181,
 'event,': 33,
 'recommended': 325,
 'awalde': 7,
 'sorry.': 82,
 "wasn't": 2828,
 'stretch.': 6,
 'There': 1164,
 'something': 3790,
 'missing': 501,
 'turn': 1175,
 'amazing.': 617,
 'turmeric': 68,
 'strange': 126,
 'color': 572,
 'unappealing.': 7,
 'smelled': 705,
 'carne': 7,
 'asada': 5,
 'maybe': 2146,
 'expecting.': 53,
 'cooked': 6320,
 'delightful': 259,
 'while': 3130,
 'grilling': 225,
 'meet': 53,
 'expectations': 42,
 'served.': 69,
 'watching': 228,
 'think': 10741,
 'tweak': 194,
 'sure': 5335,
 'is.': 649,
 'Did': 470,
 'Bergy!!': 11,
 'microwaved': 176,
 'spuds,': 5,
 'onions,': 735,
 'later': 496,
 'night.': 701,
 'onion': 3958,
 'each': 2204,
 'their': 1558,
 'flavours': 430,
 'come': 1545,
 'distinctly.': 1,
 'veggie': 655,
 'dish.': 2720,
 'Lovely!': 31,
 'beautiful': 760,
 'Thanksgiving': 638,
 'morning.': 393,
 'With': 679,
 'link': 42,
 'sliced': 2058,
 'fruit': 1049,
 'enjoy': 1321,
 'visiting': 112,
 'grands': 5,
 'breakfast.': 485,
 'Kittencal.': 83,
 'teach': 25,
 'high': 1257,
 'school': 333,
 'foods': 180,
 'class': 97,
 'studying': 8,
 'legumes.': 2,
 'topping': 1361,
 'sour': 2563,
 'cream,': 790,
 'cheese,': 1369,
 'Tobasco': 19,
 'tortilla': 508,
 'chips.': 644,
 'While': 430,
 'making,': 33,
 'students': 37,
 'look': 1527,
 'Not': 1868,
 'single': 364,
 'student': 38,
 '25': 458,
 'disliked': 19,
 'students.': 8,
 'starting': 247,
 'hour': 1180,
 'period': 41,
 'reheating': 45,
 'day.': 1234,
 'Many': 188,
 'requested': 363,
 'second': 1653,
 'copy': 147,
 'take': 2302,
 'home!': 99,
 'Great': 5706,
 'job!': 35,
 'definately': 1073,
 'lemon': 3808,
 'zest': 575,
 'devine': 17,
 'reheat': 135,
 'oven': 3333,
 'crunchiness!': 2,
 ...}

In [46]:
def get_word_reviews_count1(df):
    word_reviews = {}
    for _, row in df.dropna(subset=['review']).iterrows():
        for word in row['review'].split(' '):
            if word not in word_reviews:
                word_reviews[word] = []
            word_reviews[word].append(recipe_id)
    
    word_reviews_count = {}
    for _, row in df.dropna(subset=['review']).iterrows():
        review = row['review']
        words = review.split(' ')
        for word in words:
            word_reviews_count[word] = len(word_reviews[word])
    return word_reviews_count

In [92]:
lp = LineProfiler()
lp_wrapper = lp(get_word_reviews_count)
lp_wrapper(reviews)
lp.print_stats()

Timer unit: 1e-09 s

Total time: 8.02745 s
File: <ipython-input-91-3c7f22ada245>
Function: get_word_reviews_count at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def get_word_reviews_count(df):
     2         1       1283.0   1283.0      0.0      word_reviews = {}
     3    126696   74360212.0    586.9      0.9      for row in df['review']:
     4   6589887 2153386922.0    326.8     26.8          for word in str(row).split():
     5   6425616 2678809086.0    416.9     33.4              if word not in word_reviews:
     6    164271   80713377.0    491.3      1.0                  word_reviews[word] = 1
     7                                                       else:
     8   6425616 3040174372.0    473.1     37.9                  word_reviews[word] += 1
     9         1        738.0    738.0      0.0      return word_reviews

#### [версия 2]
* Уточнены формулировки задач 1, 3, 4